body{
    font-family: 'Droid Serif', serif;
    /*max-width:480px;*/
    margin:auto;
    max-width:95%;
    background-color: #f9f7f1;
}
div.nivelsup{
    border-top:1px solid black;
    text-align: center;
    padding:20px 0px;
    width:100%;
}
div#caderno{
    padding:0px;
    min-height: 300px;
    break-inside: avoid;
    columns: 400px;
}

div.artigo{
    max-width:420px;
    columns: 420px;
    max-width: 100%;
    padding-right:10px;
    float:left;
    border-right:1px solid black;
    border-bottom:solid 1px black;

}

div#propaganda{
    vertical-align: center;
    text-align:center;
    float:none;
}
div#propaganda figure{
    display:inline-block;
}
div#propaganda figure{
    display:inline-block;
}
div#propaganda img{
    max-height: 100px;
    display:inline-block;
}

header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 80pt;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    header{
        font-size: 60pt;
    }
}

@media (max-width: 500px) {
    header{
        font-size: 40pt;
    }
}

h1,h2{
    text-align: center;
    padding: 10px 0 10px 0;
}

h1{
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    margin: 20px auto 0px auto;
}

h2{
    font-weight: 400;
    font-style: italic;
    font-size: 26px;
    box-sizing: border-box;
    margin: 0 auto -10px auto;
}

p{
    text-align:justify;
    text-indent: 2cm;
    
    font-family: 'Copse';/*'Special Elite', serif;*/
}
img{
    max-width: 100%;
    display:block;
    float:none;
    margin:2px;
    padding:2px;
    filter:grayscale(100%);
    margin:auto;
    border:1px dotted blue;
}
figure{
    display:block;
    width:90%;
    border:dotted 1px black;
}
figcaption{
	font-style: italic;
	font-size: 12px;
}
q{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 20px;
    /*font-style: italic;*/
    text-align: center;
    font-weight: 400;
    display: block;
    margin: 10px 0 10px 0;
}
assina{
    text-align: right !important;
    float:right;
    font-size:10pt;
}